*, h1, h2, h3, h4, h5, h6, ul, li, ol {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/vecteezy_ai-generated-national-doctors-day-advertisment-background_37247199.jpg');
    font-family: Calibri;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Calibri;
}

.ustcubuk {
    background-color: #0094ff;
    height: 80px;
}

.anamenu {
    float: left;
}

.navigasyon {
    background-color: #0094ff;
    width: 250px;
    height: 834px;
    margin-top: 5px;
    border-top-right-radius: 10px;
}

    .navigasyon a {
        display: block;
        padding: 10px 20px;
        padding-left: 30px;
        text-decoration: none;
        color: black;
    }

        .navigasyon a:hover {
            background-color: #a4d5ff;
        }

.cikisyap {
    float: right;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15pt;
    padding: 20px;
}

    .cikisyap:hover {
        text-decoration: underline;
    }
